body {
    margin: 24px;
    padding: 0;
    background: #C1C1C1;
    color: black;
}
.blog-links {
    text-align: center;
}
.logo{
    height: 100px;
    width: 300px;
}
li{
    display: inline-block;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 25px;
}
h1 {
    position: relative;
    font-family: 'Bahnscrift', sans-serif;
    color: black;
    margin: 12px;
}
.main-links-container {
    position: relative;
    font-size: 20px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 24px;
}
.main-links {
    display: block;
    font-family: 'Amiko', sans-serif;
    padding-right: 30px;
}
.main-links::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}
.main-links:hover::after{
    width: 100%;
    transition: width .3s;
}
.contacts-links {
    font-family: 'Amiko', sans-serif;
    color: black;
    font-weight: 300;
}
.logo-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .3s;
}
.logo-link:hover::after{
    width: 100%;
    transition: width .3s;
}
h2 {
    font-family: 'Amiko', sans-serif;
    font-weight: bold;
    color: black;
}
p {
    text-align: center;
    font-family: 'Bahnscrift', sans-serif;
    color: black;
    font-weight: 300;
    margin-top: 10px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.blog-links {
    font-family: 'Poppins', sans-serif;
}
  
.wall-item {
    display: block;
    margin: 0 0 30px 0;
    padding: 12px;
    background: #E6ECE8;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    transition: all 220ms;
}
  
.wall-item:hover {
    box-shadow: 0px 2px 3px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 220ms;
}
  
.wall-item > img {
    display: block;
    width: 50%;
    margin: 0 0 24px 0;
    margin-left: auto;
    margin-right: auto;
}
.wall-item h2 {
    text-align: center;
    font-size: 50px;
    margin: 0 0 12px 0;
}
.wall-item p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}  
.wall {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
  
.wall-column {
    display: block;
    margin: auto;
    position: relative;
    width: 100%; 
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}
.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 30%;
    height: 30%;
    border-radius: 40%
}
@media (min-width: 800px) {
    h1 {
        display: inline-flex;
        position: relative;
        font-family: 'Bahnscrift', sans-serif;
        color: black;
        margin: 12px;
    }
    .main-links-container {
        position: relative;
        font-size: 20px;
        transform: translateX(-80%) translateY(40%);
        margin-top: 24px;
    }
}
@media (max-width: 799px){
    .wall-item p {
        font-size: 15px;
    }
    .wall-item h2 {
        font-size: 25px;
    }
    .contacts-links {
        font-size: 15px;
    }
}
@media (max-width: 640px) {
    h1 {
        display: inline-block;
        position: relative;
        font-family: 'Bahnscrift', sans-serif;
        color: black;
        margin: 12px;
    }
@media (max-width: 480px) {
    .wall-column {
        width: auto;
        float: none;
    }
    .main-links {
        font-size: 15px;
    }
    .wall-item h2 {
        font-size: 25px;
    }
    .wall-item p {
        font-size: 10px;
    }
    .contacts-links {
        font-size: 10px;
    }
}