body{
    background: url(Season10LOL.png);
    background-size: 1920px 1080px;
    /*background-color: #FFE4E1;*/
    font-family: Verdana, Arial;
    color: #2F4F4F

}
h1{
    font-size: 70px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}
.topics {
    text-align: center;
    margin-top: 540px;
}
.btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn:hover {
    color: #fff
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn:hover::before {
    height: 180%;   
}