body {
    font-family: Georgia;
    margin: 24px;
    padding: 0;
    background: lightgrey;
    color: black;
}
.links{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.blog-links {
    text-align: center;

}
li{
    display: inline-block;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 25px;
}
h1 {
    position: relative;
    color: black;
    margin: 24px;
    font-size: 400%;
    padding: 0px 0px 0px 0px;
}
p {
    text-align: center;
    font: Georgia;
    color: black;
    font-weight: 300;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: black;
  }
  
.wall-item {
    display: block;
    margin: 0 0 30px 0;
    padding: 12px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    transition: all 220ms;
}
  
.wall-item:hover {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 220ms;
}
  
.wall-item > img {
    display: block;
    width: 100%;
    margin: 0 0 24px 0;
}
.wall-item h2 {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}
  
.wall {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
  
.wall-column {
    display: block;
    position: relative;
    width: 33.333333%;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}
@media (max-width: 640px) {
  
    .wall-column { width: 50%; }
    }
@media (max-width: 480px) {

    .wall-column {
        width: auto;
        float: none;
    }
}